{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
  Post {{ post.pk }}
{% endblock%}

{% block header %}
  <h1>About the post {{ post.pk }}</h1>
{% endblock %}

{% block content %}
  <img src='{{ post.image.url }}' style="width: 180px">
  <p><b>Description:</b>  {{ post.description }}</p>
  <p>Author - {{ post.author }}</p>
  <p>Marks - {{ post.likes.count }}</p>
  <p>Comments count - {{ post.comments.count }}</p>
  <p>Subs - {{ post.subs.count }}</p>
  
  <div>
    {% include 'partial/comment.html'  with action_url="" form_method="post" %}
    </div>

  <div class='comment-list'>
    <h3>Comments</h3>
    <p>=======================================</p>
      {% for comment in comments %}
      <div class='comment'>
        <p>Commented by{{ comment.author }}</p> 
        <div class="pre">{{ comment.text}}</div>
        <p>=======================================</p>
      </div>
      {% empty %}
        <p>No comments yet.</p>
      {% endfor %}
    </div>
{% endblock %}